<div class="test" id="{{ item.id }}" style="overflow: hidden">
    <form action="{% url 'check_test' module.id item.id %}" method="GET">
        <ul style="list-style-type: none">
            {% for choice in item.testitem_set.all %}
                <li style="display: flex; flex-direction: row"><input type="checkbox" name="choice_{{ choice.id }}"><label for="choice_{{ choice.id }}">{{ choice.item_title }}</label></li>
            {% endfor %}
        </ul>
        <input type="submit" value="Check">
    </form>
</div>